.clients__opinions {
  grid-column: 1 / -1;
  font-size: var(--font-size-40);
  line-height: 1.4;
}

.clients__wrapper {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  height: 100%;
}

.clients__opinion {
  flex-basis: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  margin: 2rem 0; /* Adding left and right margin resulted in a layout issue. */
}
